

.button-white{
    border: none;
    font-size: 16px;
    border-radius: 3px;
    cursor: grab;
    padding: 0;
    background-color: red;
    color: aliceblue;
    padding: 7px 10px;
}

.button-grey{
    border: none;
    font-size: 16px;
    border-radius: 3px;
    cursor: grab;
    padding: 0;
    background-color: red;
    color: aliceblue;
    padding: 7px 10px;
}

.preview-action :hover{
    border: none;
    transition: 1s;
    background-color: red;
    padding:7px 25px;
    border-radius: 5px;
    color: white;
}
